/*CSS reset to immunize our form against wild CSS*/
  div.echo-frame, .echo-frame div, .echo-frame button, .echo-frame input, .echo-frame p, #char-count {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Helvetica", Helvetica, sans-serif;
    display: inline;
    min-height: 0;
    min-width: 0;
  }
/*end reset, begin specific style*/

div.echo-frame {
  visibility: hidden;
  position: absolute;
  width: 385px;
  height: 110px;
  background-color: #50443C;
  border-radius: 7.5px;
  border: 2px solid black;
  z-index: 9999;
}

div.echo-submit{
  position: relative;
  top: 0;
}

.echo-frame button {
  z-index: 10;
  border-radius: 54px;
  left: 333px;
  top: 3px;
  padding: 30px 23px 10px 17px;
  background: url('sage_sound.png') center no-repeat #333333;
  border: 2px solid #333333;
  position: relative;
}

.echo-frame button:hover {
  padding: 30px 23px 10px 17px;
  background: url('black_sound.png') center no-repeat #B6FCD5;
}

.echo-frame button:submit {
  outline: 0;
  -webkit-tap-highlight-color:transparent;
}

.echo-frame input#userText {
  background-color: #ecf0f1;
  color: #333333;
  position: relative;
  bottom: 0px;
  right: 40px;
  top: -13px;
  border-radius: 7.5px;
  height: 25px;
  padding: 3px 5px 2px 5px;
  font-size: 13px;
  width: 325px;
  border: 2px solid #B6FCD5;
}

div.echo-submit input#userText:focus {
  outline: 0;
}

#userHighLight {
  background-color: #ecf0f1;
  color: #333333;
  position: relative;
  top: -12px;
  bottom: 0px;
  right: -5px;
  border-radius: 7.5px;
  height: 70px;
  padding: 3px 5px 2px 5px;
  font-size: 13px;
  width: 325px;
  border: 2px solid #B6FCD5;
  resize: none;
}

#char-count {
  width: 30px;
  height: 30px;
  padding: 5px 0 0 0;
  opacity: .8;
  display: inline-block;
  font-size: 12px;
  line-height: 0px;
  text-align: center;
  margin-left: 16px;
}
