form button {
  background-color: rgba(149, 165, 166, 1.0);
  height: 40px;
  width: 62px;
  border-radius: 10px;
}

#echo-submit {
  visibility: hidden;
  position: absolute;
  height: 75px;
  width: 150px;
  background-color: #F0F8FF;
  border: 1px dotted blue;
}