/*CSS reset to immunize our form against wild CSS*/
  div.echo-frame, .echo-frame div, .echo-frame button, .echo-frame input, .echo-frame p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Helvetica", Helvetica, sans-serif;
    display: inline;
    min-height: 0;
    min-width: 0;
  }
/*end reset, begin specific style*/

div.echo-frame {
  visibility: hidden;
  position: absolute;
  width: 298px;
  height: 44px;
  background-color: rgba(220,220,220, 1);
  border-radius: 50px;
  z-index: 5000;
}

div.echo-submit{
  position: relative;
  top: 0;
}

.echo-frame button {
  z-index: 10;
  border-radius: 54px;
  padding: 30px 23px 10px 17px;
  background: url('sage_sound.png') center no-repeat #333333;
  border: 2px solid #333333;
  position: relative;
}

.echo-frame button:hover {
  padding: 30px 23px 10px 17px;
  background: url('black_sound.png') center no-repeat #B6FCD5;
}

.echo-frame input[type=text] {
  background-color: #ecf0f1;
  color: #333333;
  position: relative;
  bottom: 4px;
  left: -42px;
  border-radius: 50px;
  height: 25px;
  padding: 3px 5px 2px 50px;
  font-size: 1em;
  width: 65%;
  border: 1px solid #333333;
}

.echo-submit input[type=text]:focus {
  outline: 0;
}
