.echo-opts {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    background-color: #ecf0f1;
}

.echo-opts h2 {
    color: #333333;
    opacity: .7;
    margin-top: -9px;
}

#sage-sound-logo {
    padding-left: 5px;
    padding-top: 5px;

}

.echo-that-logo {
    width: 50px;
    height: 50px;
    background-color: black;
    padding: 20px;
    border-radius: 30%;
    opacity: .7;
}

.link-wrapper {
    margin-top: 1em;
    padding: 18px;
    opacity: .8;
}

a {
    width: 100%;
    text-align: center;
    outline: none;
    text-decoration: none;
}

h2 {
    color: #000000;
}

h3 {
    color: #FFFFFF;
}

.echo-opt-button button {
    z-index: 10;
    border-radius: 21px;
    padding: 10px 10px;
    background: #333333;
    border: 2px solid #333333;
    position: relative;
    font-size: 1.2em;
    color: #B6FCD5;
    margin: 8px auto;
    opacity: .8;
}

.echo-opt-button button:hover {
  padding: 10px 10px;
  background: #B6FCD5;
  color: #333333;
}

