.echo-opts {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    background-color: #ecf0f1;
}

.echo-opts h2 {
    color: #333333;
    opacity: .7;
}

#sage-sound-logo {
    padding-left: 5px;
    padding-top: 5px;

}

.echo-that-logo {
    width: 50px;
    height: 50px;
    background-color: black;
    padding: 20px;
    border-radius: 30%;
    opacity: .7;
}

.onoffswitch-wrapper {
    margin-top: 1em;
    width: 50px;
    height: 50px;
    padding: 18px 18px 0px 18px;
    opacity: .8;
}

.link-wrapper {
    margin-top: 1em;
    padding: 18px;
    opacity: .8;
}

a {
    width: 100%;
    text-align: center;
    outline: none;
    text-decoration: none;
}


h2 {
    color: #000000;
}

h3 {
    color: #FFFFFF;
}

.onoffswitch {
    position: relative; width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    vertical-align: center;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #333333; color: #ecf0f1;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 5px;
    background: #B6FCD5;
    border: 2px solid #999999; border-radius: 25px;
    position: absolute; top: 0; bottom: 0; right: 33px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*
.onoffswitch-2 {
    position: relative; width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox-2 {
    display: none;
}
.onoffswitch-label-2 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 25px;
}
.onoffswitch-inner-2 {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner-2:before, .onoffswitch-inner-2:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner-2:before {
    content: "ON";
    padding-left: 10px;
    background-color: #333333; color: #ecf0f1;
}
.onoffswitch-inner-2:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch-2 {
    display: block; width: 11px; margin: 5px;
    background: #B6FCD5;
    border: 2px solid #999999; border-radius: 25px;
    position: absolute; top: 0; bottom: 0; right: 33px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox-2:checked + .onoffswitch-label-2 .onoffswitch-inner-2 {
    margin-left: 0;
}
.onoffswitch-checkbox-2:checked + .onoffswitch-label-2 .onoffswitch-switch-2 {
    right: 0px;
}*/