input[type=text] {
line-height: 1em;
border: 1px solid gray;
background-color: #ecf0f1;
border-radius: 4px;
font-size: 1.4em;
}

#gray-yellow .btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 11px;
  background: #626F70;
  padding: 2px 2px 0px 0px;
  border: 0;
}

#gray-yellow .btn:hover {
  background: #626F70;
  background-image: -webkit-linear-gradient(top, #626F70, #3a4142);
  background-image: -moz-linear-gradient(top, #626F70, #3a4142);
  background-image: -ms-linear-gradient(top, #626F70, #3a4142);
  background-image: -o-linear-gradient(top, #626F70, #3a4142);
  background-image: linear-gradient(to bottom, #626F70, #3a4142);
  text-decoration: none;
}

#black-sage .btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 51px;
  text-shadow: 0px 0px 0px #ffffff;
  font-family: Arial;
  color: #b6fcd5;
  font-size: 18px;
  background: #333333;
  padding: 9px 11px 11px 70px;
  text-decoration: none;
  border: 0;
}

#black-sage .btn:hover {
  font-style: oblique;
}


#yellow-black .btn {
  background: #ffeda3;
  background-image: -webkit-linear-gradient(top, #ffeda3, #f1c40f);
  background-image: -moz-linear-gradient(top, #ffeda3, #f1c40f);
  background-image: -ms-linear-gradient(top, #ffeda3, #f1c40f);
  background-image: -o-linear-gradient(top, #ffeda3, #f1c40f);
  background-image: linear-gradient(to bottom, #ffeda3, #f1c40f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
 border-radius: 44px;
font-family: Arial;
color: black;
font-size: 20px;
padding: 10px 20px 9px 95px;
text-decoration: none;
}

#yellow-black .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


#peach-black .btn {
  background: #F5CA9E;
  background-image: -webkit-linear-gradient(top, #F5CA9E, #dbae81);
  background-image: -moz-linear-gradient(top, #F5CA9E, #dbae81);
  background-image: -ms-linear-gradient(top, #F5CA9E, #dbae81);
  background-image: -o-linear-gradient(top, #F5CA9E, #dbae81);
  background-image: linear-gradient(to bottom, #F5CA9E, #dbae81);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 0px 0px 0px #ffffff;
  font-family: Arial;
  color: #000000;
  font-size: 43px;
  padding: 6px 20px 6px 99px;
  border: 2px solid white;
}

#peach-black .btn:hover {
  border: 2px solid black;
}
